.smaller
    font-size .85em
.smallest
    font-size 0.55em

iframe
    border 1px solid #aaa

#cover
    &:after
        opacity 0
    h2
        margin:25px 0 0;
        text-align:left;
        font-size:50px;
        display:inline-block;
        max-width 90%
    p
        margin:40px 0 0;
        text-align:left;
        font-size: 24px
        opacity 0.75
        line-height: 1.4

.cover
    img
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;

.img-full
    text-align center
    img
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left -25%


.end-link
    bottom: 10%
    position: absolute
    width: 100%
    padding: 0 35px
    font-size: 24px
    line-height: 1.8
    color: #aaa
    a
        color: #fff
.bigger
    font-size: 53px

.logo
    width 100px
    background-color: #fff
    margin-top: 50px
    & + &
        margin-left 10px
    &.css-m-js
        padding: 18.6px 10px
        background-color: #2B2727

.compare-table
    table-layout:fixed;
    th
    td
        width: 15%
        &:first-child
            width: 24%
        &:last-child
            width: 17%
    th
        padding-bottom: 20px


.logo-img
    position: absolute
    top: 30%;
    right: 10%;
    &.php
        top: auto;
        bottom: 7%
        right: 0
    &.sublime-full
        position: absolute
        top: 30%
        left: 0;
        width: 100%
        opacity: 0.9
    &.winner
        top: 10%
    &.winner2
        top: 15%



th
    &.condition
        width: 50%;
    &.editor
    &.editor2
        position: relative
    &.editor
        width: 20%;
    &.editor2
        width: 25%;
    .table-logo
        position: relative
        top: 10px

td
    padding: 0 10px
    &.green
        background-color: #cff3af !important


.slide ul>li:lang(ru)::before
    color: #cd0011
.slide ul.plus>li:lang(ru)::before
    content: '+'
    color: #50891d
.slide ul.minus>li:lang(ru)::before
    content: '–'
    color: #ec190c

.shout.faded
    color white
    font-size 4em
    background-color rgba(0,0,0,0.7)
    padding-bottom: 25px

.gray
    color gray

.slide pre code.hljs
    line-height: 1.5

.link
    position relative
    margin-left: 1.8em
    line-height: 1.3em
.link::before
    left: -1.8em;
    position absolute
    top 0.1em
    display inline-block
    width 1.5em
    height 1.4em
    content ''
    background-repeat no-repeat
    background-size contain

.link-github::before
    background-image url('pictures/github-logo.svg')
.link-npm::before
    background-image url('pictures/npm-logo.svg')
    height 1.0em
    top 0.5em
.link-github-white::before
    background-image url('pictures/github-logo-white.svg')
