include ./blocks/slide.jade
include ./blocks/cover.jade
include ./blocks/quote.jade
include ./blocks/frame.jade

- var title = "Тестирование фронтенда для&nbsp;разработчиков"

doctype html
html(lang='ru')
  head
    title !{title}
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='shower/themes/ribbon/styles/screen-16x9.css')
    link(rel='stylesheet', href='theme.css')
    link(rel='stylesheet', href='slides.css')
    link(rel='stylesheet', href='highlight/styles/github.css')
  body.shower.list
    header.caption
      h1 !{title}
    +slide({name: 'cover', header: title, classes:'label-header cover'})
      p
        span.subtitle Как не быть&nbsp;
          span.strike мудаком
          |  ленивым кодером
      p.author Александра Шинкевич (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      img.cover(src='pictures/cover.jpg')
    +slide({header: "Кто я?", classes: "label-header right"})
      ul
        li Глава отдела фронтенда, LOVATA
        li Full-stack Node.js разработчик
      p
        img.logo(src="pictures/minskcss.png")
        img.logo(src="pictures/minskjs.png")
        img.logo.css-m-js(src="pictures/css-minsk-js.svg")
      img.cover.place.left(src='pictures/about-cover.jpg')
    +slide({header: "Очевидные очевидности", classes: "label-header"})
      ul
        li Требования к макетам и прототипам
        li.next Виды тестирования фронтенда
        li.next Как тестировать
        li.next Чем тестировать
      img.cover.width.next(src='pictures/cap-says.jpg')
    +slide({header: "Плохой дизайн сложно превратить<br>в хороший код", shout: true, classes: 'label-header captain'})
      p.captain-text
        span.subtitle Долго и требует большого опыта
      img.cover.width(src='pictures/cap.jpg')
    +slide({header: "Чек-лист требований к макетам", classes: "label-header"})
      ul
        li Обсуждение макетов ДО разработки
          +cover('pictures/halfs/comment.jpg')
        li.next UI Kit
          +cover('pictures/halfs/ui-kit.jpg')
          ul.next
            li (!) Элементы отрисованы для всех версий
            li Шрифты и типографика, цвета
            li Цвета, гадиенты, тени и скругления блоков
            li Кнопки и элементы форм
            li Иконки
    +slide({header: "", classes: "label-header"})
      +cover('pictures/ui-kit.jpg')
    +slide({header: "Дизайнер не обязан знать<br>возможности верстки", shout: true, classes: 'label-header captain'})
      p.captain-text
        span.subtitle Он мыслит и рисует на плоскости
      img.cover.width(src='pictures/cap.jpg')
    +slide({header: "Шаги к провалу с этапа дизайна", classes: "label-header clear"})
      ul
        li Нет UI Kit, или он плохой
          +cover('pictures/halfs/no-uikit.jpg')
        li.next Кардинальные изменения UX при RWD
          +cover('pictures/halfs/rwd.jpg')
        li.next Макеты не по сетке, если она есть
          +cover('pictures/halfs/bad-mockup.jpg')
        li.next Хаотичные отступы, размеры
          +cover('pictures/halfs/rythm.jpg')
        li.next Вообще все не очень
          +cover('pictures/halfs/bad.jpg')
    +slide({header: "Плохой дизайн в коде", classes: "label-header"})
      +cover('pictures/bad-code.jpg')
      span.next
        +cover('pictures/bad-code-2.jpg')
      p.captain-text.next
        span.subtitle П****Ц
    +slide({header: "Проще и дешевле исправить дизайн,<br>чем писать плохой код", shout: true, classes: 'label-header captain'})
      p.captain-text
        span.subtitle Клиенту тоже можно объяснить
      img.cover.width(src='pictures/cap.jpg')
    +slide({header: "Хороший UI Kit в коде", classes: "label-header"})
      +cover('pictures/good-code.jpg')
    +slide({header: "Плохой код больно писать и поддерживать", shout: true, classes: 'label-header captain'})
      p.captain-text
        span.subtitle Никто не любит говнокод
      img.cover.width(src='pictures/cap.jpg')
    +slide({header: "Не пиши говнокод", shout: true, classes: 'label-header captain'})
      p.captain-text.next
        span.subtitle Пиши хороший код
      img.cover.width(src='pictures/cap.jpg')
    +slide({header: "Хороший дизайн", classes: "label-header"})
      ul
        li Типографика для всех версий
          +cover('pictures/halfs/typography.jpg')
        li.next Используются стили текста, цвета и т.д. только из UI Kit
          +cover('pictures/halfs/ui-kit.jpg')
        li.next Нет диких перестроений при RWD
          +cover('pictures/halfs/rwd2.jpg')
        li.next Интерфейс делится на компоненты
          +cover('pictures/halfs/components.jpg')
      p.next
        span.subtitle Системный, продуманный, логичный
    +slide({header: "Как тестировать", shout: true, classes: 'label-header'})
      img.cover.width(src='pictures/cover-blur.jpg')
    +slide({header: "Ручное тестирование", classes: 'label-header'})
      ol
        li Визуальное соответствие макету
          +cover('pictures/halfs/diff.jpg')
        li.next Поведение (UX)
          +cover('pictures/halfs/ux.jpg')
        li.next Responsive
          video(src='pictures/window-terebonk.mp4', class='place right cover height' autoplay muted loop playsinline)
        li.next Кроссбраузерность и кроссплатформенность
          ul
            li Пункты 1-3 в других браузерах и на других устройствах
          +cover('pictures/halfs/devices.jpg')
    +slide({header: "1. Верстка: чек-лист", classes: 'label-header'})
      ul
        li Выглядит как на макете во всех разрешениях
        li.next Не ломается при изменении ширины И ВЫСОТЫ
        li.next Проверить ВСЕ вхождения
        li.next Тянется/обрезается при разном контенте
      +cover('pictures/halfs/check.jpg')
    +slide({header: "1. Верстка: чем проверять", classes: 'label-header'})
      ul
        li Глазами
          ul
            li Сравнить макеты и реальность
          +cover('pictures/halfs/watch.jpg')
        li.next Расширения в браузере
          ul
            li
              a(href="https://chrome.google.com/webstore/detail/perfectpixel-by-welldonec/dkaagdgjmgdmbnecmcefdhjekcoceebi?hl=ru") PerfectPixel
              |  накладывает картинку на страницу
            li
              a(href="https://chrome.google.com/webstore/detail/grid-ruler/joadogiaiabhmggdifljlpkclnpfncmj?hl=ru") Grid Ruler
              |  удобно проверять выравнивание
          +cover('pictures/halfs/tools.jpg')
    +slide({header: "Увидел проблему в макете &mdash;<br>к дизайнеру и менеджеру", shout: true, classes: 'label-header captain'})
      p.captain-text
        span.subtitle
          span.strike Пусть знают как ты страдаешь
        br
        span.subtitle Обсудить решение
      img.cover.width(src='pictures/cap.jpg')
    +slide({header: "2. Тестирование UX: чек-лист", classes: 'label-header'})
      ul
        li Работает как задумано
        li.next Интерактивность на ховеры
        li.next Не ломается/обрезается ВНЕЗАПНО
        li.next Нет ошибок в DevTools
        li.next Интерфейс не зависает и не тормозит
      +cover('pictures/halfs/check.jpg')
    +slide({header: "2. Тестирование UX: чем проверять", classes: 'label-header'})
      ul
        li Глазами
          ul
            li Все должно работать по ТЗ (не по ТЗ тоже должно работать)
          +cover('pictures/halfs/watch2.jpg')
        li.next Руками
          ul
            li Кликать, водить курсором, тыкать пальцем
            li Все возможные и невозможные сценарии
            li Даже есть кажется, что так не будут делать (БУДУТ!)
          +cover('pictures/halfs/hands.jpg')
        li.next Доступность
          ul
            li Перемещение по табам
          +cover('pictures/halfs/a11y.jpg')
    +slide({header: "2. Тестирование форм: чек-лист", classes: 'label-header'})
      ul
        li Успешная отправка без ошибок
        li.next Валидация и сообщения об ошибках
        li.next Прелоадеры, debounce, не отправить дважды и т.д.
        li.next Если пошаговая &mdash; проверять все
      +cover('pictures/halfs/forms.jpg')
    +slide({header: "Во время теста ты &mdash; злоумышленник", shout: true, classes: 'label-header captain'})
      p.captain-text
        span.subtitle Делай сайту больно!
      img.cover.width(src='pictures/cap.jpg')
    +slide({header: "3. Responsive: чек-лист", classes: "label-header clear"})
      ul
        li На всех разрешениях своего компьютера
          ul
            li На маленьких (320х300)
            li На больших (два монитора)
            li При зуме + и -
            li В мобильном фрейме DevTools и без
          +cover('pictures/halfs/recursion.jpg')
        li.next На реальных девайсах
          +cover('pictures/halfs/farm.jpg')
    +slide({header: "4. Кроссплатформенность и кроссбраузерность", classes: "label-header"})
      ul
        li Windows и MacOS/iOS
          ul
            li Вечнозеленые
            li И остальные
          +cover('pictures/halfs/browsers.jpg')
        li.next Поворот экрана на устройстве
          +cover('pictures/halfs/rotate.jpg')
        li.next Расширенный тест для...
          ul
            li Неполной поддержки, префиксы
            li Формы и интерактивные элементы
            li Модальные окошки и попапы
            li Анимации
            li Другие хаки или фоллбэки
          +cover('pictures/halfs/support.jpg')
    +slide({header: "Как отлаживать на девайсах", classes: "label-header"})
      ul
        li
          a(href="https://ngrok.com/") Ngrok
          |  - показать удаленно
        li
          a(href="https://developers.google.com/web/tools/chrome-devtools/remote-debugging/") DevTools Chrome под Android
        li
          a(href="https://appletoolbox.com/2014/05/use-web-inspector-debug-mobile-safari/") Мобильный Safari на macOS
        li
          a(href="https://washamdev.com/debug-a-website-in-ios-safari-on-windows/") Мобильный Safari под Windows и Linux
        li
          a(href="https://www.browserstack.com/") BrowserStack
          |  для теста кроссбраузерности
        li
          a(href="https://www.vanamco.com/ghostlab/") Ghost Lab
          |  - мультиплатформенная отладка
    +slide({header: "Ни один DevTools  не заменит реальный девайс", shout: true, classes: 'label-header captain'})
      img.cover.width(src='pictures/cap.jpg')
    +slide({header: "И это каждый раз проверять?!", shout: true, classes: 'label-header'})
      p.captain-text.next
        span.subtitle Да
      img.cover.width(src='pictures/cover-blur.jpg')
    +slide({header: "Смоки-тесты для каждого ПР", classes: "label-header"})
      ul
        li Картинка соответствует макету на всех разрешениях
        li Ожидаемое поведение по ТЗ
        li Изменение ширины и высоты не ломает ничего
        li Нет ошибок в консоли и DevTools
        li Доки, тесты, README исправлены
      +cover('pictures/halfs/smoke.jpg')
    +slide({header: "А если нашел баг не там, где сейчас делаешь?", shout: true, classes: 'label-header'})
      img.cover.width(src='pictures/cover-blur.jpg')
    +slide({header: "Видишь баг &mdash; исправь", shout: true, classes: 'label-header captain'})
      p.captain-text.next
        span.subtitle Даже если делал не ты
      p.captain-text.next
        span.subtitle Даже если это другой блок
      p.captain-text.next
        span.subtitle Даже если кажется, что “и так сойдет”
      img.cover.width(src='pictures/cap.jpg')
    +slide({header: "Исправить долго &mdash;<br>заводи баг и TODO в код", shout: true, classes: 'label-header captain'})
      p.captain-text
        span.subtitle И говори менеджеру
      img.cover.width(src='pictures/cap.jpg')
    +slide({header: "О любой непонятной ситуации говори менеджеру", shout: true, classes: 'label-header captain'})
      p.captain-text.next
        span.subtitle Нет, я не устану это повторять
      img.cover.width(src='pictures/cap.jpg')
    +slide({header: "Подводя итог", classes: "label-header"})
      ul
        li Смотри на дизайн ПЕРЕД работой
        li.next Проверяй за собой ПОСЛЕ работы
        li.next Не бойся обсуждать и вносить изменения в процессе
        li.next Будь ответственным, черт возьми!
      +cover('pictures/halfs/i-do.jpg')
    +slide({header: "Не будь ленивым кодером", shout: true, classes: 'label-header captain'})
      p.captain-text.next
        span.subtitle Будь котиком!
      img.cover.width(src='pictures/cap.jpg')
    +slide({name: 'theend', header: "Вопросы?", shout: true, classes: 'cover label-header'})
      p.end-link
        a.bigger(href="http://bit.ly/FrontQA-MoscowCSS" target="_blank") bit.ly/FrontQA-MoscowCSS
        br
        | Александра Шинкевич (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      +cover('pictures/cover.jpg')

    .progress
    script(src='shower/shower.min.js')
    script(src='highlight/highlight.pack.js')

    script(type='text/javascript') hljs.initHighlightingOnLoad();
